{% extends 'base.html' %}
{% block content %}
<title>home</title>
<!--

-->
<html>

<body style="background-color: #F3FFFF;">
    <div class="section">
        <div class="columns w-row">

            <div class="column-3 w-col w-col-4">
                <div>
                    <h1 class="heading-4">Personal Journal</h1>
                </div>
                <div>
                    <div class="div-block-3">
                        <h3>Athlete posts</h3>
                    </div>
                    <div class="div-block-2"  style="max-height: 100%;">
                        <ul role="list" class="list" style="overflow: auto; height: 700px;">


                            {% for journal in journalPosts %}
                            <div style="background-color: aqua; margin-right: 10%;">
                                <li class="list-item">
                                    <!--https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_onclick_html-->
                                    <h5 id="testingMoment" onclick="renderNew()">{{ journal['username'] }}</h5>
                                    <script>
                                        function renderNew(){
                                            document.getElementById("testingMoment").innerHTML = "YOU CLICKED ME!";
                                        }
                                    </script>
                                    <p>{{ journal.body }}</p>
                                </li>
                            </div>
                            {% endfor %}

                            {% for user in userList}
                            <p></p>
                            {% endfor %}
                        </ul>
                    </div>


                </div>
            </div>

            <div class="column-2 w-col w-col-4">
                <div>
                    <div>
                        <h1 class="heading-3">Feed</h1>
                    </div>
                </div>
                <h3>New Post</h3>
                <div class="w-form">
                    <form method="post">
                        <label for="postTitle">Title</label>
                        <input name="postTitle" id="postTitle" required class="w-input">
                        <label for="postBody">Body</label>
                        <input name="postBody" id="postBody" required class="w-input">
                        <input type="submit" value="Post" class="w-button">
                    </form>
                </div>
                <div  style="max-height: 40%;">
                    <ul role="list" class="list-2" style="overflow: auto; height: 500px;">
                        {% for post in feedPosts %}
                        <li class="list-item">
                            <h5>{{ post['title'] }}</h5>
                            <h6>posted on {{ post['created'].strftime('%Y-%m-%d') }}</h6>
                            <p>{{ post['body'] }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="column-4 w-col w-col-4">
                <div class="div-block-5">
                    <div class="div-block-4">
                        <div>
                            <h1 class="heading-2">Exercises</h1>
                        </div>
                        <div class="div-block-7">
                            <ul role="list" class="list-3">
                                {% for exercise in exercises %}
                                <li>
                                    <div class="w-row">
                                        <div class="w-col w-col-4">
                                            <img src="website\templates\home\images\placeholder.png" alt="">
                                        </div>
                                        <div class="w-col w-col-8">
                                            <div>
                                                <h4>{{ exercise['title'] }}</h4>
                                            </div>
                                            <p>{{ exercise['descript'] }}</p>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="div-block-6">
                        <div>
                            <h1>New Exercise</h1>
                        </div>
                        <div class="w-form">
                            <form method="post">
                                <label for="exerName">Exercise Name</label>
                                <input name="exerName" id="exerName" required class="w-input">
                                <label for="exerDescript">Description</label>
                                <input name="exerDescript" id="exerDescript" required class="w-input">
                                <input type="submit" value="Post" class="w-button">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}