{% extends 'base.html' %}
{% block content %}
<style>

    .column {
        float: left;
        width: 50%;
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
</style>
<title>home</title>
<html>
<body style="background-color: #F3FFFF;">
    <div class="column">
        <div class="column"><h1>New workout</h1></div>
        <div class="column"><h1><a href="{{ url_for('home.home') }}">Back</a></h1></div>
        
        
        <form method="post">
            <label for="workoutTitle">Title</label>
            <input name="workoutTitle" id="workoutTitle" required class="w-input">
            <label for="workoutBody">Workout</label>
            <textarea name="workoutBody" id="workoutBody" required>Exercise: Reps</textarea>
            <input type="submit" value="Post" class="w-button">
        </form>
    </div>
    <div class="column">
        <div class="div-block-7">
            <ul role="list" class="list-3">
                <script>
                    function lines(id){
                        document.getElementById(id).innerHTML = document.getElementById(id).innerHTML.replace(/\n/g, '<br>');
                    };
                </script>
                {% for exercise in exercises %}
                <li>
                    <div class="w-col w-col-8">
                        <h4>{{ exercise['title'] }}</h4>
                        <p id="{{ exercise.id }}">{{ exercise['descript'] }}</p>
                    </div>
                    <script>
                        window.onload(lines('{{exercise.id}}'));
                    </script>
                </li>
                {% endfor %}
            </ul>
        </div>
</body>
</html>
{% endblock %}